html {
  height: 100%;
  box-sizing: border-box;
  font-size: 100%;
  line-height: 1.5;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
p{
  margin: 10px 0 10px 0;
}

button {
  cursor: pointer;
  background-color: transparent;
}

body {
  margin: 0;
  font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
  color: #404040;
  background: #0ca3d2;
}

.container {
  margin: 80px auto;
  text-align: center;
}

.login {
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 20px;
  width: 500px;
  background: white;
  border-radius: 3px;
  @include box-shadow(0 0 200px rgba(white, .5), 0 1px 2px rgba(black, .3));

  &:before {
    content: '';
    position: absolute;
    top: -8px; right: -8px; bottom: -8px; left: -8px;
    z-index: -1;
    background: rgba(black, .08);
    border-radius: 4px;
  }

 

  p { margin: 20px 0 0; }
  p:first-child { margin-top: 0; }

  input[type=text], input[type=password] { width: 278px; }

  p.remember_me {
    float: left;
    line-height: 31px;

    label {
      font-size: 12px;
      color: #777;
      cursor: pointer;
    }

    input {
      position: relative;
      bottom: 1px;
      margin-right: 4px;
      vertical-align: middle;
    }
  }

  p.submit { text-align: right; }
}

.login-help {
  margin: 20px 0;
  font-size: 11px;
  color: white;
  text-align: center;
  text-shadow: 0 1px #2a85a1;

  a {
    color: #cce7fa;
    text-decoration: none;

    &:hover { text-decoration: underline; }
  }
}

:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}

input {
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 14px;
}

input[type=text], input[type=password] {
  margin: 5px;
  padding: 0 10px;
  width: 200px;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px; // Can we get this on WebKit please?
  @include box-shadow(inset 0 1px 3px rgba(black, .12));

  &:focus {
    border-color: #7dc9e2;
    outline-color: #dceefc;
    outline-offset: 0; // WebKit sets this to -1 by default
  }
}

input[type=submit] {
  padding: 0 18px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: #527881;
  text-shadow: 0 1px #e3f1f1;
  background: #cde5ef;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  border-radius: 16px;
  outline: 0;
  @include box-sizing(content-box); // Firefox sets this to border-box by default
  @include linear-gradient(top, #edf5f8, #cde5ef);
  @include box-shadow(inset 0 1px white, 0 1px 2px rgba(black, .15));

  &:active {
    background: #cde5ef;
    border-color: #9eb9c2 #b3c0c8 #b4ccce;
    @include box-shadow(inset 0 0 3px rgba(black, .2));
  }
}

.lt-ie9 {
  input[type=text], input[type=password] { line-height: 34px; }
}

.pelit {
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 20px;
  width: 500px;
  background: white;
  border-radius: 3px;
  @include box-shadow(0 0 200px rgba(white, .5), 0 1px 2px rgba(black, .3));

  &:before {
    content: '';
    position: absolute;
    top: -8px; right: -8px; bottom: -8px; left: -8px;
    z-index: -1;
    background: rgba(black, .08);
    border-radius: 4px;
  }
}

#header {
  margin: 0 0 10px 20px;
}

#userstory {
  width: 80%;
  display: none;
}
#startbutton, #stopbutton, #kirjoita {
  display:none;
}
#tarina {
  font-size: 150%;
}

.pelissa {
  display: inline-block;
  position: relative;
  margin: 0 0 20px 20px;
  padding: 20px 20px 20px;
  width: 500px;
  background: white;
  border-radius: 3px;
  vertical-align: top;

  @include box-shadow(0 0 200px rgba(white, .5), 0 1px 2px rgba(black, .3));

  &:before {
    content: '';
    position: absolute;
    top: -8px; right: -8px; bottom: -8px; left: -8px;
    z-index: -1;
    background: rgba(black, .08);
    border-radius: 4px;
  }
}

.korttialue {
  display: inline-block;
  position: relative;
  padding: 20px 20px 20px;
  width:470px;
  height:700px;
  background: white;
  border-radius: 3px;
  vertical-align: top;
@include box-shadow(0 0 200px rgba(white, .5), 0 1px 2px rgba(black, .3));
}
#korttipaikat, .korttilista {
  list-style-type: none;
}

#korttikohta {
  display: none;
}

.korttipaikka {
  position: relative;
  margin: 10px auto;
  padding: 20px 20px 20px;
  width:100px;
  height:150px;
  background: green;
  border-style: solid;
  border-radius: 3px;
@include box-shadow(0 0 200px rgba(white, .5), 0 1px 2px rgba(black, .3));
}

.pelikentta {
  position: relative;
  margin: 10px auto;
  padding: 20px 20px 20px;
  width:200px;
  height:200px;
  background: white;
  border-style: solid;
  border-radius: 3px;
  @include box-shadow(0 0 200px rgba(white, .5), 0 1px 2px rgba(black, .3));
}


.kortti {
  position: relative;
  margin: 10px auto;
  padding: 20px 20px 20px;
  width:50px;
  height:100px;
  background: white;
  border-style: solid;
  border-radius: 3px;
  @include box-shadow(0 0 200px rgba(white, .5), 0 1px 2px rgba(black, .3));
}

.contenthug {
  display: inline-block;
  margin: 0 20px 0 30px;
  vertical-align: top;
  text-align: left;
}

.contentbox {
  position: relative;
  margin: 0 0 10px 0;
  padding: 20px 20px 20px;
  width: 500px;
  background: white;
  border-radius: 3px;
  @include box-shadow(0 0 200px rgba(white, .5), 0 1px 2px rgba(black, .3));

  &:before {
    content: '';
    position: absolute;
    top: -8px; right: -8px; bottom: -8px; left: -8px;
    z-index: -1;
    background: rgba(black, .08);
    border-radius: 4px;
  }
}

#chatbox{
  height: 200px;
  border: 1px solid black;
}

#keskustelu {
display: block;
    font-size: 1.1em;
    

}
 

h2 {

}

.kpoyta {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    background-color: green;
}

li {
    float: left;
    padding: 7px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

.korttipoyta {
  position: relative;
  left: -20px;
  margin: 10px auto;
  padding: 20px 20px 20px;
  width:500px;
  height:300px;
  background: green;
  border-style: solid;
  border-radius: 3px;
  @include box-shadow(0 0 200px rgba(white, .5), 0 1px 2px rgba(black, .3));
}

#hidden {
  display: none;
}

/******* MEDIA QUERY *****/
@media (max-width: 1600px) {
  .contenthug {
    margin: 0;
    padding: 0;
  }
  .contentbox {
    margin: 0 0 5px 0;
    padding: 10px 10px 10px 10px;
  }
  #header {
    margin: 0 0 5px 0;

  }
  .pelissa {
    margin: 0;
    padding: 0;
  }
  .korttialue {
    margin: 0;
    padding: 0;
    width: 300px;
    height: 600px;
  }
  .korttipoyta {
    left: 0px;
  }
  .korttipaikka {
    width:80px;
    height:120px;
  }
  li {
    padding: 3px;
  }
}